* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: #6a994e;
  --darkest-color: #386641;
  --lighest-color: #a7c957;
  --secondary-color: #f2e8cf;
  --thirdy-color: #ffc9b9;
}

@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}

button {
  all: unset;
  cursor: pointer;
  border: 3px outset var(--darkest-color);
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--primary-color);
}

button:hover,
button:focus {
  background-color: var(--lighest-color);
  border: 3px outset var(--thirdy-color);
  color: var(--darkest-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--thirdy-color);
  font-size: 2.5rem;
}

#stopwatchDisplay {
  background-color: var(--darkest-color);
  color: #ffffff;
  border: 3px outset #000000;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: var(--darkest-color);
  text-align: center;
  margin-bottom: 0.6rem;
}
#stopwatchWrapper {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 10px;
}

#buttonBox {
  margin-top: 0.5rem;
}
